/**
 * Table View
 * line height = 6rem, border included
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  -moz-box-sizing: border-box;
  position: relative;
  margin: 0 1.5rem;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
}

/* Provide additional margin around gaia-switch to match spacing with legacy components */
ul li > gaia-switch {
  -moz-margin-start: 1.5rem;
  /* The !important is necessary to override gaia-swtich scoped style. */
  width: calc(100% - 1.5rem) !important;
}

/* Provide additional styling for gaia-checkbox to match legacy components */
ul li > gaia-checkbox:not(.inline) {
 -moz-margin-start: 1.5rem;
  /* The !important is necessary to override gaia-checkbox scoped style. */
  width: calc(100% - 1.5rem) !important;
}

ul+ul li:first-child {
  border-top: 0.1rem solid #e6e6e3;
}

ul li:last-child {
  border-bottom: none;
}

ul li.sound-setting {
  min-height: 7.9rem;
}

ul li label:not([for]) {
  background: none;
}

ul li > a,
ul li > span,
ul li > small,
ul li > label > span,
ul li > label > small {
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  font-size: 1.9rem;
  padding: 0 3rem;
  margin: 0 -1.5rem;
}

ul li,
ul li > a,
ul li > label {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li > a,
ul li > label {
  min-height: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ul li[hidden] {
  display: none;
}

ul li > a > span {
  pointer-events: none;
}

ul li.active a,
ul li.active span,
ul li:not([aria-disabled="true"]) > small + a:active,
ul li:not([aria-disabled="true"]) > a:active,
ul li:not([aria-disabled="true"]) > small + a:focus,
ul li:not([aria-disabled="true"]) > a:focus {
  background-color: #b2f2ff;
  color: #222;
}

ul li[aria-disabled="true"] > a,
ul li[aria-disabled="true"] > p {
  color: #797e80;
  opacity: 0.6;
  pointer-events: none;
}

ul > li > progress {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul > li > progress + span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  -moz-padding-start: 1rem;
  color: #505b5b;
  font-size: 1.4rem;
  line-height: 6rem;
}

/* description + value on the same line */
ul li .info-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

ul li .info-item .info-item-title {
  order: 1;
  flex: 1 0 auto;
}

ul li .info-item .info-item-space {
  order: 2;
  flex: 0 0 2rem;
}

ul li .info-item .info-item-content {
  order: 3;
  flex: 1 1 auto;
  color: #505859;
  text-align: right;
}

/* backward compatible */
ul li > a:not(.info-item) span:nth-of-type(2):not(.button) {
  position: absolute;
  right: 1.5rem;
  color: #505859;
  line-height: 6rem;
  height: 6rem;
  top: 0;
}

/* text ellipsis */
ul li > *,
ul li > label > *,
ul li > a > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* sublines */
ul li > small,
ul li > label > small,
ul li > a > small {
  display: block;
  font-size: 1.4rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

small.multiline > span {
  display: block;
}

ul li > label {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
}

ul li > label ~ input {
  margin-bottom: 1.5rem;
}

ul li > label.pack-checkbox > small,
ul li > label.pack-radio > small {
  right: 6.1rem;
}

ul li > label.pack-switch > small {
  right: 9rem;
}

/* color previews */
ul li > label.pack-checkbox > .color-preview:before {
  height: 2rem;
  width: 2rem;
  content: "";
  margin: 0;
  margin-top: -1.1rem;
  -moz-margin-start: -3rem;
  top: 50%;
  position: absolute;
}

ul.disabled li > label.pack-checkbox > .color-preview:before {
  opacity: 0.4;
}

ul li > label.pack-checkbox > .warning-counter:before {
  background-color: orange;
}

ul li > label.pack-checkbox > .error-counter:before {
  background-color: red;
}

ul li > label.pack-checkbox > .security-counter:before {
  background-color: black;
}

ul li > label.pack-checkbox > .reflow-counter:before {
  background-color: purple;
}

ul li > label.pack-checkbox > .jank-monitor:before {
  background-color: cornflowerblue;
}

ul li > label.pack-checkbox > .fps-monitor:before {
  background-color: fuchsia;
}

ul li > label.pack-checkbox > .ttl-monitor:before {
  background-color: darkgreen;
}

ul li > label.pack-checkbox > .uss-monitor:before {
  background-color: dimgrey;
}

ul li > label.pack-checkbox > .memory-monitor:before {
  background-color: lightslategrey;
}

ul li > label.pack-checkbox > .memory-item:before {
  background-color: lightslategrey;
  height: 2rem;
  width: 2rem;
  margin: 0;
  margin-top: -1.1rem;
  -moz-margin-start: -3rem;
}


/******************************************************************************
 * Boolean buttons
 */

ul li button {
  display: inline-block;
  margin: 1rem 0;
  white-space: normal;
}

/******************************************************************************
 * Boolean inputs
 */

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li label {
  text-transform: none;
}

ul li > label:not([for]),
ul li > label.pack-checkbox,
ul li > label.pack-radio,
ul li > label.pack-switch {
  -moz-margin-start: -1.5rem;
  -moz-margin-end: -1.5rem;
  -moz-padding-start: 1.5rem;
  -moz-padding-end: 1.5rem;
  width: 100%;
  height: calc(100% - 1rem);
  min-height: 5rem;
  overflow: visible;
  display: flex;
}

ul li > label:not([for]) > span,
ul li > label.pack-checkbox > span,
ul li > label.pack-radio > span,
ul li > label.pack-switch > span {
  line-height: normal;
  height: auto;
}

ul li > label.pack-checkbox > span:after,
ul li > label.pack-radio > span:after,
ul li > label.pack-switch > input ~ span:after {
  left: auto;
  right: 1.5rem;
}

ul li > label.pack-checkbox > span {
  -moz-padding-end: 6.1rem;
}

ul li > label.pack-radio ~ p {
  -moz-padding-end: 3rem;
}

ul li > label.pack-switch > span {
  -moz-padding-end: 9rem;
}

ul li > label.pack-radio > span {
  -moz-padding-end: 5.9rem;
}

ul li > label.pack-checkbox:active,
ul li > label.pack-radio:active,
ul li > label.pack-switch:active {
  background-color: #b2f2ff;
  color: #222;
}

/******************************************************************************
 * Split panel
 */
ul li.pack-split .name:active {
  background-color: #B2F2FF;
}

ul li.pack-split .name {
  position: relative;
  width: calc(100% - 9rem);
}

ul li.pack-split:after {
  content: '';
  position: absolute;
  background-color: #E6E6E3;
  right: 7.5rem;
  width: 0.1rem;
  height: calc(100% - 2rem);
  top: 1rem;
}

ul li.pack-split > span {
  background-color: transparent;
}

ul li.pack-split > label.pack-switch {
  position: absolute;
}


/******************************************************************************
 * Field inputs
 */

ul li p {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
  padding: 1.5rem 1.5rem 1rem;
}

ul li p + label:not([for]) {
  top: 2.5rem;
  height: calc(100% - 2.5rem);
}


/******************************************************************************
 * Range inputs
 */

input[type=range] {
  -moz-appearance: none;
  border: none;
  background: none;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

ul li > label input[type="range"] {
  height: 3rem;
  width: calc(100% - 3rem);
  margin: 1.5rem;
}

input[type=range]::-moz-range-track {
  height: 0.1rem;
  background-color: #7e7e7e;
}

input[type=range]::-moz-range-progress {
  height: 0.3rem;
  background-color: #01c5ed;
}

input[type=range]::-moz-range-thumb {
  width: 2.8rem;
  height: 2.8rem;
  border: solid 0.1rem transparent;
  border-radius: 3rem;
  transition: border 0.15s ease;
  -moz-box-sizing: border-box;
  background: url(images/range_thumb.png) no-repeat 50% 50%;
  background-size: 2.8rem 2.8rem;
}

input[type=range]:active::-moz-range-thumb {
  border: solid 0.4rem #01c5ed;
}

ul li.sound-setting > label input[type="range"] {
  margin: 0 auto;
  width: calc(100% - 3rem);
  left: 1.5rem;
}

ul li.brightness-manual > label input[type="range"] {
  margin: 0 auto;
  width: calc(100% - 10rem);
  display: inline;
}

/******************************************************************************
 * Progress, Meter
 */

ul > li progress[value] {
  display: block;
  width: calc(100% - 3rem);
  height: 3rem;
  margin: 3rem auto;
  background: #e7e7e7;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.3rem;
}

ul > li progress[value]::-moz-progress-bar {
  margin: 1px;
  height: calc(100% - 0.2rem);
  border-radius: 0.2rem;
  background-color: #82c72c;
}


/******************************************************************************
 * Definition lists
 */

dl > * {
  font-size: 1.7rem;
}

dl dt {
  -moz-padding-start: 3rem;
  font-weight: 500;
  border-bottom: 0.1rem solid black;
}

dl dd {
  margin: 0;
  padding: 1rem 3rem;
  border-bottom: 0.1rem solid #e6e6e3; /* same as "ul li" */
}

/******************************************************************************
 * Right-To-Left layout
 */

html[dir="rtl"] ul li > a span:nth-of-type(2):not(.button) {
  left: 1.5rem;
  right: unset;
}

html[dir="rtl"] ul li > label.pack-checkbox > small,
html[dir="rtl"] ul li > label.pack-radio > small {
  left: 6.1rem;
  right: unset;
}

html[dir="rtl"] ul li > label.pack-switch > small {
  left: 9rem;
  right: unset;
}

html[dir="rtl"] ul li > label.pack-checkbox > span:after,
html[dir="rtl"] ul li > label.pack-radio > span:after,
html[dir="rtl"] ul li > label.pack-switch > input ~ span:after {
  left: 1.5rem;
  right: auto;
}

html[dir="rtl"] ul li.pack-split:after {
  left: 7.5rem;
  right: unset;
}

html[dir="rtl"] ul li.sound-setting > label input[type="range"] {
  left: unset;
  right: 1.5rem;
}

html[dir="rtl"] ul li .info-item .info-item-content {
  text-align: left;
}
