.appWindow:not(.bar) > .chrome {
  pointer-events: none;
  top: 0;
  height: calc(var(--statusbar-height) + var(--rocketbar-urlbar-height));
  transform: scaleY(var(--rocketbar-scale)) translateY(calc(var(--statusbar-height) * -1));
  transform-origin: top left;
  transition: transform var(--transition-duration) ease-in-out,
              background-color var(--transition-duration) ease;

  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  color: white;
}

:not(.browser).appWindow[data-shrinking-state="true"] > .chrome {
  height: calc(var(--statusbar-height) / var(--rocketbar-scale));
  transform: scaleY(var(--rocketbar-scale)) translateY(0);
}

.appWindow.light > .chrome {
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background-color: white;
  color: #4d4d4d;
}

.appWindow.private > .chrome {
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background-color: #392e54;
  color: #fff;
}

.appWindow:not(.bar) > .chrome.maximized {
  transform: scaleY(1) translateY(0);
}

.appWindow.fullscreen-app:not(.bar) > .chrome:not(.maximized) {
  height: var(--statusbar-height);
  top: 0;
}

.appWindow:not(.bar).fullscreen-app > .chrome.maximized {
  top: 0;
  transform: scaleY(1) translateY(-7.6rem);
}

.controls {
  pointer-events: auto;
  background-color: transparent;
  position: absolute;
  top: calc(var(--statusbar-height) + .3rem);
  width: 100%;
  font-size: 0;
}

.chrome .controls .windows-button {
  display: none;
}

/* Special cases */
.searchWindow > .chrome {
  display: none;
}

[data-manifest-name="FTU"]:not(.bar) > .chrome .controls,
[data-manifest-name="FTU"]:not(.bar) > .chrome .progress,
.lockScreenWindow:not(.bar) > .chrome .controls,
.lockScreenWindow:not(.bar) > .chrome gaia-progress,
.homescreen:not(.bar) > .chrome gaia-progress,
.globalOverlayWindow:not(.bar) > .chrome .controls,
.globalOverlayWindow:not(.bar) > .chrome gaia-progress {
  visibility: hidden;
}

.lockScreenWindow:not(.bar) > .chrome,
.globalOverlayWindow:not(.bar) > .chrome {
  background-color: transparent;
}

#screen.attention .lockScreenWindow:not(.bar) > .chrome {
  background-color: black;
}

/* Special cases for Rocketbar in apps with browser chrome */
.appWindow:not(.browser) .chrome .controls .menu-button {
  display: none;
}

.appWindow.fullscreen-app:not(.browser) .chrome .controls .urlbar,
.appWindow:not(.browser) .chrome .controls .urlbar {
  width: calc(100% - 1rem);
}

/* Special cases for rocketbar on the Top Sites view and homescreens */
.homescreen .menu-button,
.homescreen .controls .reload-button,
.homescreen .controls .stop-button,
.search-app .menu-button,
.search-app .controls .reload-button,
.search-app .controls .stop-button,
.chrome .controls .windows-button {
  display: none;
}

.appWindow.search-app .chrome .controls .urlbar {
  width: calc(100% - 4.5rem);
}

.search-app .chrome .controls .windows-button {
  display: inline;
}

/* URL bar */
.chrome .controls .urlbar {
  width: calc(100% - 4.5rem);
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0.2rem 0 0.5rem;
  border-radius: 1.8rem;
  color: inherit;
  overflow: visible;
  background-color: transparent;
  -moz-margin-start: .5rem;
  position: absolute;
}

.maximized .controls .urlbar {
  background-color: rgba(204,204,204,0.2);
}

.appWindow.light.collapsible .controls .urlbar {
  background-color: rgb(242, 242, 242); /* 255 * 0.95 */
}

.appWindow.light .maximized .controls .urlbar {
  background-color: rgba(204,204,204,0.4);
}

.appWindow.private.collapsible .controls .urlbar {
  background-color: #392e54;
}

.appWindow.private .maximized .controls .urlbar {
  background-color: rgba(204, 204, 204, 0.2);
}

.chrome-combined .chrome-title-container {
  width: calc(100% - 3.2rem);
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-start: 3.85rem;
  -moz-padding-end: 0.8rem;
  box-sizing: padding-box;
  overflow: hidden;
  float: none;
  background-color: rgba(204,204,204,0.2);
  border-radius: 1.8rem;
}

.chrome-combined .title {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: italic;
  text-overflow: ellipsis;
  display: block;
}

.chrome-plain .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.search-app .chrome.maximized .controls .urlbar:after {
  content: '';
  width: 2rem;
  height: 100%;
  top: 0;
  right: 0.8rem;
  position: absolute;
  background-image: url('images/search.png');
  background-repeat: no-repeat;
  background-size: 2rem auto;
  background-position: center right;
}

.appWindow.light .chrome-combined:not(.maximized) .chrome-title-container {
  background-color: rgba(204,204,204,0.4);
}

.chrome-combined.maximized .chrome-title-container {
  background-color: transparent;
}


.controls .forward-button:not([disabled]) + .urlbar,
.controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar {
  width: calc(100% - 8rem);
  transform: translateX(3.5rem);
}

.controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 12rem);
  transform: translateX(7.5rem);
}

.appWindow:not(.browser) .controls .forward-button:not([disabled]) + .urlbar,
.appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar {
  width: calc(100% - 4.5rem);
  transform: translateX(3.5rem);
}

.appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 8.5rem);
  transform: translateX(7.5rem);
}

.controls .urlbar {
  transform: scaleX(var(--rocketbar-scale)) translateY(0.1rem);
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

.appWindow.fullscreen-app .chrome.dragged,
.appWindow.fullscreen-app .chrome.dragging {
  visibility: visible;
}

.appWindow.fullscreen-app .chrome {
  visibility: hidden;
}

.appWindow.collapsible.active .urlbar {
  will-change: transform;
}

.appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar {
  transform: scale(var(--rocketbar-scale)) translateY(-6.1rem);
  transform-origin: bottom left;
}

.maximized .controls .urlbar {
  transform: scaleX(1);
}


/* Private browser icon in rocketbar */
.appWindow.private > .chrome-plain.maximized .chrome-title-container,
.appWindow.private > .chrome-combined.maximized .chrome-title-container {
  -moz-padding-start: 4rem;
}

.appWindow.private > .chrome.maximized .pb-icon {
  display: block;
  width: 4rem;
  height: 100%;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  right: 0.3rem;
  background: url("images/pb_rocketbar.png") no-repeat 0.8rem center / 2.5rem;
}


/* SSL Lock Icons in rocketbar */
.chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  -moz-padding-start: 5.5rem;

  background-repeat: no-repeat;
  background-position: 3rem center;
  background-size: 3rem;
}

.private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  -moz-padding-start: 6.5rem;
  background-position: 3.7rem 0.1rem;
}

.chrome-plain .chrome-ssl-indicator {
  display: none;

  width: 1rem;

  background: no-repeat center / 3rem content-box;
}

.chrome-ssl-indicator-ltr {
  padding-right: .5rem; /* give some space between the indicator and the title */
}

.chrome-ssl-indicator-rtl {
  padding-left: .5rem; /* give some space between the indicator and the title */
  padding-right: 1rem; /* give some space between the indicator and the window's edge */
}

.chrome-plain:-moz-dir(ltr) .chrome-has-ssl-indicator .chrome-ssl-indicator-ltr,
.chrome-plain:-moz-dir(rtl) .chrome-has-ssl-indicator .chrome-ssl-indicator-rtl {
  display: unset;
}

.maximized .chrome-has-ssl-indicator[data-ssl="secure"] .chrome-ssl-indicator {
  background-image: url("images/light/ssl.png");
}

.maximized .chrome-has-ssl-indicator[data-ssl="broken"] .chrome-ssl-indicator {
  background-image: url("images/light/ssl_broken.png");
}

.site-icon {
  width: 3.2rem;
  height: 3.2rem;
  background: no-repeat center / 3.2rem content-box;
  background-image: url('images/default_icon.png');
  position: absolute;
}

.small-icon {
  background: #cfcfcf no-repeat center / 1.6rem;
  border-radius: 100%;
}

/* Handle urlbar sizing when back or forward buttons are disabled */
.collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
.collapsible .chrome:not(.maximized) .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale));
}

.collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale));
}


/* Buttons */
.controls button  {
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  opacity: 1;
  float: left;
  border-radius: 0;
}

/* Remove focus outline from button */
.controls button::-moz-focus-inner {
  border: 0;
}

.controls .reload-button,
.controls .stop-button {
  background-size: 3rem auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.1rem;
  right: 0;
  padding: 0 0.3rem;
  width: 3rem;
  height: 3rem;
}

.controls .reload-button::before,
.controls .stop-button::before {
  content: '';
  position: relative;
  right: 0.2rem;
  display: block;
  height: 2.4rem;
  border-left: .1rem solid rgba(0,0,0,0.05);
}

/* Vertically align butons outside of urlbar. */
.controls > button {
  position: relative;
  top: -0.2rem;
}

.controls > button.menu-button,
.controls > button.windows-button {
  position: absolute;
  offset-inline-end: 0;
}

.controls .reload-button[disabled],
.loading .controls .reload-button {
  visibility: hidden;
  pointer-events: none;
}

.controls .stop-button {
  visibility: hidden;
  pointer-events: none;
}

.loading .controls .stop-button {
  visibility: visible;
  pointer-events: auto;
}

.controls .back-button[disabled],
.controls .forward-button[disabled] {
  display: none;
}

.chrome.maximized .controls .menu-button[disabled] {
  opacity: 0.2;
}

.appWindow:not(.bar) > .chrome button {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.appWindow:not(.bar) > .chrome.maximized button {
  opacity: 1;
}


/* Default (dark) theme button styles */
.controls .back-button {
  background-image: url("images/dark/back.png");
}

.controls .back-button:active {
  background-image: url("images/dark/back_active.png");
}

.controls .forward-button {
  background-image: url("images/dark/forward.png");
}

.controls .forward-button:active {
  background-image: url("images/dark/forward_active.png");
}

.controls .menu-button {
  background-image: url("images/dark/options.png");
}

.controls .menu-button:active {
  background-image: url("images/dark/options_active.png");
}

.controls .reload-button {
  background-image: url("images/dark/reload.png");
}

.controls .reload-button:active {
  background-image: url("images/dark/reload_active.png");
}

.controls .stop-button {
  background-image: url("images/dark/stop.png");
}

.controls .stop-button:active {
  background-image: url("images/dark/stop_active.png");
}

.controls .windows-button {
  background-image: url('images/dark/windows.png');
}

.controls .windows-button:active {
  background-image: url('images/dark/windows_active.png');
}

/* Light theme button styles */
.light .controls .menu-button:active {
  background-image: url("images/light/overflow_active.png");
}

.light .controls .back-button {
  background-image: url("images/light/back.png");
}

.light .controls .back-button:active {
  background-image: url("images/light/back_active.png");
}

.light .controls .forward-button {
  background-image: url("images/light/forward.png");
}

.light .controls .forward-button:active {
  background-image: url("images/light/forward_active.png");
}

.light .controls .menu-button {
  background-image: url("images/light/options.png");
}

.light .controls .menu-button:active {
  background-image: url("images/light/options_active.png");
}

.light .controls .reload-button {
  background-image: url("images/light/reload.png");
}

.light .controls .reload-button:active {
  background-image: url("images/light/reload_active.png");
}

.light .controls .stop-button {
  background-image: url("images/light/stop.png");
}

.light .controls .stop-button:active {
  background-image: url("images/light/stop_active.png");
}

.light .controls .windows-button {
  background-image: url('images/light/windows.png');
}

.light .controls .windows-button:active {
  background-image: url('images/light/windows_active.png');
}

.light .controls .menu-button:active {
  background-image: url("images/light/overflow_active.png");
}

/* Overflow menu */

gaia-overflow-menu button#new-window {
  background-image: url("images/menu_new_window.png");
}

gaia-overflow-menu button#add-to-home {
  background-image: url("images/menu_add_to_homescreen.png");
}

gaia-overflow-menu button#share {
  background-image: url("images/menu_share.png");
}

/* Progress */
.appWindow:not(.bar).collapsible > .chrome gaia-progress {
  top: 7.3rem;
}

/* App specifics */
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls button {
  display: none;
}

.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .forward-button:not([disabled]) + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .urlbar {
  width: calc(100% - 8rem);
}

.appWindow:not(.collapsible) > .chrome-combined .title {
  width: calc(100%);
}

/* RTL View */
html[dir="rtl"] .appWindow:not(.bar) > .chrome {
  transform-origin: top right;
}

html[dir="rtl"] .chrome .controls .urlbar {
  float: right;
}

html[dir="rtl"] .controls .forward-button:not([disabled]) + .urlbar,
html[dir="rtl"] .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
html[dir="rtl"] .appWindow:not(.browser) .controls .forward-button:not([disabled]) + .urlbar,
html[dir="rtl"] .appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar {
  transform: translateX(-3.5rem);
}

html[dir="rtl"] .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar,
html[dir="rtl"] .appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  transform: translateX(-7.5rem);
}

html[dir="rtl"] .home-app .chrome.maximized .controls .urlbar:after,
html[dir="rtl"] .search-app .chrome.maximized .controls .urlbar:after {
  left: 0.8rem;
  right: unset;
}

html[dir="rtl"] .controls .urlbar {
  transform-origin: top right;
}

html[dir="rtl"] .appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar {
  transform-origin: bottom right;
}

html[dir="rtl"] .controls button {
  float: right;
}

html[dir="rtl"] .controls .reload-button,
html[dir="rtl"] .controls .stop-button {
  left: 0;
  right: unset;
}

html[dir="rtl"] .controls .reload-button::before,
html[dir="rtl"] .controls .stop-button::before {
  left: 0.2rem;
  right: unset;
  border-left: none;
  border-right: .1rem solid rgba(0,0,0,0.05);
}

html[dir="rtl"] .controls .back-button {
  background-image: url("images/dark/forward.png");
}

html[dir="rtl"] .controls .back-button:active {
  background-image: url("images/dark/forward_active.png");
}

html[dir="rtl"] .controls .forward-button {
  background-image: url("images/dark/back.png");
}

html[dir="rtl"] .controls .forward-button:active {
  background-image: url("images/dark/back_active.png");
}

html[dir="rtl"] .light .controls .back-button {
  background-image: url("images/light/forward.png");
}

html[dir="rtl"] .light .controls .back-button:active {
  background-image: url("images/light/forward_active.png");
}

html[dir="rtl"] .light .controls .forward-button {
  background-image: url("images/light/back.png");
}

html[dir="rtl"] .light .controls .forward-button:active {
  background-image: url("images/light/back_active.png");
}

html[dir="rtl"] .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 0.1rem top 0.1rem;
}

html[dir="rtl"] .private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 3.7rem top 0.1rem;
}

/*
 * This is for translating the minimized titlebar 12rem to the right,
 * which is what we need. And it's the direct opposite of -12rem in the
 * original selector which moves it 12rem to the left.
 */

html[dir="rtl"] .collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale));
}

html[dir="rtl"] .collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
html[dir="rtl"] .collapsible .chrome:not(.maximized) .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale));
}
