<element name="developer-hud" extends="section">
  <template>

    <gaia-header action="back" data-href="#developer">
      <h1 data-l10n-id="hud-settings-header"></h1>
    </gaia-header>

    <div>
      <ul>
        <li>
          <gaia-checkbox name="debug.fps.enabled">
            <label class="color-preview fps-monitor" data-l10n-id="hud-fps"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="debug.ttl.enabled">
            <label class="color-preview ttl-monitor" data-l10n-id="hud-ttl"></label>
          </gaia-checkbox>
        </li>
        <header>
          <h2 data-l10n-id="hud-devtools-header"></h2>
        </header>
        <li>
          <gaia-switch name="devtools.overlay">
            <label data-l10n-id="hud-devtools"></label>
          </gaia-switch>
        </li>
      </ul>
      <ul class="hud-widgets disabled">
        <li class="hud-separator">
          <gaia-checkbox name="hud.logging">
            <label data-l10n-id="hud-logging"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="devtools.overlay.system">
            <label data-l10n-id="hud-system"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.hide">
            <label data-l10n-id="hud-hide"></label>
          </gaia-checkbox>
        </li>
        <header>
          <h2 data-l10n-id="hud-problems"></h2>
        </header>
        <li>
          <gaia-checkbox name="hud.warnings">
            <label class="color-preview warning-counter" data-l10n-id="hud-warnings"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.errors">
            <label class="color-preview error-counter" data-l10n-id="hud-errors"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.security">
            <label class="color-preview security-counter" data-l10n-id="hud-security"></label>
          </gaia-checkbox>
        </li>
        <header>
          <h2 data-l10n-id="hud-performance"></h2>
        </header>
        <li class="hud-separator">
          <gaia-checkbox name="hud.reflows">
            <label class="color-preview reflow-counter" data-l10n-id="hud-reflows"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.jank">
            <label class="color-preview jank-monitor" data-l10n-id="hud-jank"></label>
          </gaia-checkbox>
        </li>
        <li>
          <p data-l10n-id="jank-threshold"></p>
          <span class="button icon icon-dialog">
            <select name="devtools.eventlooplag.threshold" data-value-type="integer">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100" selected>100</option>
              <option value="200">200</option>
            </select>
          </span>
        </li>
        <header>
          <h2 data-l10n-id="hud-memory"></h2>
        </header>
        <li>
          <gaia-checkbox name="hud.uss">
            <label class="color-preview uss-monitor" data-l10n-id="hud-uss"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.appmemory">
            <label class="color-preview memory-monitor" data-l10n-id="hud-appmemory"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.jsobjects">
            <label class="color-preview memory-item" data-l10n-id="hud-jsobjects"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.jsstrings">
            <label class="color-preview memory-item" data-l10n-id="hud-jsstrings"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.jsother">
            <label class="color-preview memory-item" data-l10n-id="hud-jsother"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.dom">
            <label class="color-preview memory-item" data-l10n-id="hud-dom"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.style">
            <label class="color-preview memory-item" data-l10n-id="hud-style"></label>
          </gaia-checkbox>
        </li>
        <li>
          <gaia-checkbox name="hud.other">
            <label class="color-preview memory-item" data-l10n-id="hud-other"></label>
          </gaia-checkbox>
        </li>
      </ul>
    </div>

    <panel data-path="panels/developer_hud/panel"></panel>

  </template>
</element>
